# Data Science Tools and Ecosystem

# Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

# Data Science Languages are

1. Python
1. R
1. Swift
1. Scala
1. Java
1. C++
1. Julia
1. Javascript
1. Structured Query Language (SQL)

# Data Science  Libraries

**Python**
1.  NumPy
1.  Pandas
1.  Matplotlib
1.  Seaborn
1.  Scikit-learn
1.  SciPy
1.  TensorFlow

**R Libraries**
1.  ggplot
1.  dplyr
1.  tidyr
1.  caret

# Data Science Tools

| Data Science Tools |
| ------------- |
| Apache Spark |
| Tableau | 
| Hadoop |
| Natural Language Toolkit (NLTK) |

### Arithmetic Expression Examples
#This section provides examples of common arithmetic expressions and their evaluation. Arithmetic expressions involve numerical values and arithmetic operators, such as addition, subtraction, multiplication, division, and exponentiation.

**1. Addition**
$$2+3=5$$

**2. Subtraction:**
$$2-1=1$$

**3. Multiplication:**
$$2*14=28$$

**4. Division:**
$$60/15=4$$

**5. Exponentiation:**
$$2**16=65,536$$

**6. Order of Operations (PEMDAS/BODMAS):**

$$(6+4)*2-1+3=22$$

In [32]:
# Define numbers for calculation

number1 = 3
number2 = 4
number3 = 5

# This a simple arithmetic expression to mutiply then add integers
product = number1 * number2

# Perform addition
sum_result = product + number3


print(sum_result)

17

In [37]:
# Convert minutes to seconds
def minutes_to_hours(minutes):
  return minutes/60

print (minutes_to_hours(200)) #hours

3.3333333333333335

**#Insert a markdown cell to list Objectives**

* Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
* Exercise 3 - Create a markdown cell for an introduction. (1 pt)
* Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
* Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
* Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
* Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
* Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)
* Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
* Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
* Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
* Exercise 12 - Share your notebook through GitHub (3 pts)
* Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

## Author